<div>
    <div class="pricing-header p-3 pb-md-6 mx-auto text-center m-4">
        <h1 class="display-4 fw-normal">Quem somos</h1>
        <p class="fs-5 text-body-secondary">Bem-vindo ao coração do nosso blog de receitas naturais! Somos uma equipe apaixonada pela culinária saudável e sustentável. Nosso objetivo é inspirar você a experimentar sabores incríveis, utilizando ingredientes simples, naturais e cheios de vida. Conheça quem está por trás desse projeto:</p>
    </div>

    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
        <div class="col">
          <div class="">
            <div>
              <h4 class="my-0 fw-normal">Ana Clara<br> Chef Criativa</h4>
            </div>
            <div class="card-body m-2">

                <img src="img/Ana Clara – Chef Criativa.png" width="30%" alt="" style="border-radius: 100%;" class="mb-2">
                <p>Com uma formação em gastronomia e um amor por ingredientes frescos, Ana é a responsável por criar receitas inovadoras e acessíveis. Sua missão é mostrar que comer bem pode ser delicioso e prático. Quando não está na cozinha, ela adora explorar feiras orgânicas.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="">
            <div class="">
              <h4 class="my-0 fw-normal">João Pedro<br> Fotógrafo e Food Stylist</h4>
            </div>
            <div class="card-body m-2">
                <img src="img/João Pedro – Fotógrafo e Food Stylist.png" width="30%" alt="" style="border-radius: 100%;" class="mb-2">
                <p>João transforma cada prato em uma verdadeira obra de arte. Com seu olhar aguçado para os detalhes, ele capta a essência de cada receita, trazendo cores e texturas à vida. Sua câmera é o elo entre o sabor e a inspiração.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="">
            <div class="">
              <h4 class="my-0 fw-normal">Marcela Souza<br> Nutricionista</h4>
            </div>
            <div class="card-body m-2">
                <img src="img/Marcela Souza – Nutricionista.png" width="30%" alt="" style="border-radius: 100%;" class="mb-2">
                <p>Marcela acredita que a saúde começa no prato. Como nutricionista, ela colabora para garantir que nossas receitas não sejam apenas deliciosas, mas também equilibradas e nutritivas. Com dicas práticas, ela nos ajuda a manter o foco na saúde sem abrir mão do prazer de comer bem.</p>
            </div>
          </div>
        </div>
      </div>
</div>
