<div class="modal-header">
    <h4 class="modal-title">Contato</h4>
    <button type="button" class="btn-close" aria-label="Close" ></button>
</div>
<div class="modal-body">
    <form action="">
        <div class="nome">
            <label for="nome" style="margin-right: 2px;">Nome:</label>
            <input type="text" placeholder="Digite o seu nome completo" style="width: 100%">
        </div>
        <div class="email" style="margin-top: 4px;">
            <label for="email" style="margin-right: 2px;">E-mail:</label>
            <input type="email" placeholder="Digite um e-mail válido" style="width: 100%">
        </div>
        <div class="mensagem" style="margin-top: 4px; margin-bottom: 4px;">
            <label for="mensagem">Mensagem:</label><br>
            <input type="text" placeholder="Digite aqui quais informações você precisa" style="width: 100%; height: 100px;">
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="submit" class="btn btn-outline-secondary" style="margin-right: 5px;" >Enviar</button>
    <button type="button" class="btn btn-outline-secondary" >Fechar</button>
</div>

