<div class="row container mt-3">
    <div class="col-mb-5">
        <img src="img/Brownie Fit de Batata Doce.png" width="50%" alt="" style="border-radius: 20px;">
        <h2 class="mt-3">Brownie Fit de Batata Doce</h2>
        <h4>Uma sobremesa saudável para adoçar o dia sem culpa!</h4>
        
        <b>Ingredientes:</b>
        <ul>
            <li>2 xícaras de batata-doce cozida e amassada</li>
            <li>½ xícara de cacau em pó</li>
            <li>¼ xícara de mel ou xarope de agave</li>
            <li>2 ovos</li>
            <li>1 colher de sopa de óleo de coco</li>
        </ul>
            
        <b>Modo de preparo:</b> <br> 
        Modo de preparo: Misture todos os ingredientes até formar uma massa homogênea. Transfira para uma forma untada e asse em forno pré-aquecido a 180°C por cerca de 25 minutos. Espere esfriar antes de cortar.
    </div>

    <a class="d-flex justify-content-end mt-3" href="../post-list">Voltar para Posts</a>
    
</div>
