<div class="row mt-3 mb-3">
    <div class="col-md-4">
        <div class="card">
            <img src="img/carro1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
            <h5 class="card-title">BYD Seagull</h5>
            <p class="card-text"><b>Ano:</b> 2025<br><b>Preço:</b> R$ 46.000,00</p>
            <button class="btn btn-lg btn-outline-primary" (click)="open()">Consultar</button>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <img src="img/carro2.jpg" class="card-img-top" alt="...">
            <div class="card-body">
            <h5 class="card-title">BYD Song Plus</h5>
            <p class="card-text"><b>Ano:</b> 2025<br><b>Preço:</b> A partir de R$ 270.000,00</p>
            <button class="btn btn-lg btn-outline-primary" (click)="open()">Consultar</button>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <img src="img/carro3.jpg" class="card-img-top" alt="...">
            <div class="card-body">
            <h5 class="card-title">BYD Seal</h5>
            <p class="card-text"><b>Ano:</b> 2025<br><b>Preço:</b> A partir de R$ 299.800,00</p>
            <button class="btn btn-lg btn-outline-primary" (click)="open()">Consultar</button>
            </div>
        </div>
    </div>  
</div>