<div>
    <div class="pricing-header p-3 pb-md-6 mx-auto text-center m-4">
        <h1 class="display-4 fw-normal">Quem somos</h1>
        <p class="fs-5 text-body-secondary">Bem-vindo ao coração da nossa loja! Somos uma equipe apaixonada por pets. Nosso objetivo é levar para o seu pet conforto e amor, de forma rápida e prática. Conheça quem está por trás desse projeto:</p>
    </div>

    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
        <div class="col">
          <div class="">
            <div>
              <h4 class="my-0 fw-normal">Ana Clara<br> CEO</h4>
            </div>
            <div class="card-body m-2">

                <img src="img/Ana Clara – Chef Criativa.png" width="30%" alt="" style="border-radius: 100%;" class="mb-2">
                <p>Com uma formação em Administração e um amor por animais, Ana é a responsável por criar soluções que tragam saúde e bem estar para o seu animal.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="">
            <div class="">
              <h4 class="my-0 fw-normal">João Pedro<br> Fotógrafo</h4>
            </div>
            <div class="card-body m-2">
                <img src="img/João Pedro – Fotógrafo e Food Stylist.png" width="30%" alt="" style="border-radius: 100%;" class="mb-2">
                <p>João transforma cada produto em uma verdadeira obra de arte. Com seu olhar aguçado para os detalhes, ele capta as cores e texturas de cada item.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="">
            <div class="">
              <h4 class="my-0 fw-normal">Jéssica Garcia<br> Desenvolvedora</h4>
            </div>
            <div class="card-body m-2">
                <img src="img/Marcela Souza – Nutricionista.png" width="30%" alt="" style="border-radius: 100%;" class="mb-2">
                <p>Jéssica acredita que um bom produto começa pela web. Como desenvolvedora, ela colabora para garantir que nossos produtos não sejam apenas produtos, mas também itens necessários para o seu pet.</p>
            </div>
          </div>
        </div><br><br> 
        <div class="d-flex-center">
            <p><b>Criado por: Jéssica Garcia RA: 236330</b></p>
        </div>
      </div>
</div>
