
    <div class="row container mt-3">
        <div class="col-mb-5">
            <img src="img/Bowl Colorido com Quinoa e Legumes.png" width="50%" alt="" style="border-radius: 20px;">
            <h2 class="mt-3">Bowl Colorido com Quinoa e Legumes</h2>
            <h4>Uma opção leve e rica em nutrientes para o almoço.</h4>
            
            <b>Ingredientes:</b>
            <ul>
                <li>1 xícara de quinoa cozida</li>
                <li>1 xícara de legumes variados (cenoura ralada, brócolis, abobrinha)</li>
                <li>½ abacate fatiado</li>
                <li>Suco de ½ limão</li>
                <li>Azeite, sal e pimenta a gosto</li>
            </ul>
                
            <b>Modo de preparo:</b> <br> 
            Em uma tigela, monte o bowl com a quinoa e os legumes. Adicione o abacate e tempere com o suco de limão, azeite, sal e pimenta. Misture bem e aproveite!
        </div>
    
        <a class="d-flex justify-content-end mt-3" href="../post-list">Voltar para Posts</a>
        
    </div>
    