<ngb-carousel>
    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
            <img src="/public/img/cozinhar.png" alt="">
        </div>
        <div class="carousel-caption">
            <h3>BYD Seagull</h3>
            <p>Novo carro elétrico ‘baratinho’ da BYD custa menos de R$ 46 mil. <br>Venha já aproveitar!</p>
        </div>
    </ng-template>
    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
            <img src="/public/img/salada.png" alt="">
        </div>
        <div class="carousel-caption">
            <h3>BYD Song Plus</h3>
            <p>O SUV híbrido plug-in mais barato do Brasil. A partir de R$ 270 mil.<br> Garanta já o seu!</p>
        </div>
    </ng-template>
    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
            <img src="/public/img/vegetariana.png" alt="">
        </div>
        <div class="carousel-caption">
            <h3>BYD Seal</h3>
            <p>Novo sedã híbrido plug-in é registrado no Brasil! A partir de R$ 299.800. <br> Corra e garanta o seu!</p>
        </div>
    </ng-template>
</ngb-carousel>
