.header {
    background-color: black;
    color: white;
    margin-bottom: 30px;
    padding-top: 10px;
    text-align: center;
}

.invalid {
    color: red;
    font-size: 12px;
    font-style: italic;
}

