<div class="row">
    <div class="col-md-3">
        <nav>
            <ul class="nav nav-pills flex-column mb-auto">
                <li class="nav-item">
                    <a routerLink="post-detail" class="nav-link" routerLinkActive="active">Post - 10/02/2025</a>
                </li>
                <li class="nav-item">
                    <a routerLink="post-detail1" class="nav-link" routerLinkActive="active">Post - 20/02/2025</a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="col-md-9">
        <router-outlet/>
    </div>

</div>
