<div class="row container mt-3">
    <div class="col-mb-5">
        <img src="img/Smoothie Energizante de Frutas Vermelhas.png" width="50%" alt="" style="border-radius: 20px;">
        <h2 class="mt-3">Smoothie Energizante de Frutas Vermelhas</h2>
        <h4>Ideal para começar o dia com energia!</h4>
        
        <b>Ingredientes:</b>
        <ul>
            <li>1 xícara de frutas vermelhas congeladas (morango, framboesa, mirtilo)</li>
            <li>1 banana madura</li>
            <li>200 ml de leite vegetal (ou água de coco)</li>
            <li>1 colher de sopa de chia ou linhaça</li>
        </ul>
            
        <b>Modo de preparo:</b> <br> 
        Bata tudo no liquidificador até atingir uma consistência cremosa. Sirva em um copo e, se desejar, finalize com granola ou coco ralado.
    </div>

    <a class="d-flex justify-content-end mt-3" href="../post-list">Voltar para Posts</a>
    
</div>
