
<div class="container mt-3">
    <div style="background-image: url(/public/img/Smoothie\ Energizante\ de\ Frutas\ Vermelhas.png);">
        <h2>Smoothie Energizante de Frutas Vermelhas</h2>
    <h4>Ideal para começar o dia com energia!</h4>
    
        <b>Ingredientes:</b>
        <ul>
            <li>1 xícara de frutas vermelhas congeladas (morango, framboesa, mirtilo)</li>
            <li>1 banana madura</li>
            <li>200 ml de leite vegetal (ou água de coco)</li>
            <li>1 colher de sopa de chia ou linhaça</li>
        </ul>
        
        <b>Modo de preparo:</b> <br> 
        Bata tudo no liquidificador até atingir uma consistência cremosa. Sirva em um copo e, se desejar, finalize com granola ou coco ralado.
    </div>
    <!-- <img id="img_detail" class="bd-placeholder-img card-img-top" width="1em" height="30px" src="img/Smoothie Energizante de Frutas Vermelhas.png"> -->
    
    
</div>
